/* ------------------------------------------------------ */
/* BANNER ----------------------------------------------- */
/* ------------------------------------------------------ */

.banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    border-top: inset 60px transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/mobile/banner.png);
    z-index: -1;
    display: flex;
    justify-content: center;
  }
  
  .banner h1 {
    position: absolute;
    top: 15px;
    text-shadow: 0px 0px 25px rgb(255, 0, 0, 55%);
  }
  
  .banner button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 40px;
  
    background-color: #f9aa01;
    border-radius: 8px;
    border: none;
  
    position: absolute;
    bottom: 75px;
  }
  
  /* ------------------------------------------------------ */
  /* SECTION TRENDING GAMES ------------------------------- */
  /* ------------------------------------------------------ */
  
  .most-popular {
    background-color: #1b1426;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .layout-mostpopular {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100%;
  }
  
  .game-card {
    height: fit-content;
    width: 100%;
    max-width: 480px;
  }
  
  .container-mostpopular {
    position: relative;
  }
  
  .game-card-img {
    width: 100%;
  }
  
  .card-box {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(239, 239, 239, 0.6),
      rgba(239, 239, 239, 0.1)
    );
    border: 1px rgba(255, 255, 255, 0.2) solid;
    backdrop-filter: blur(2px);
    height: 55px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  .card-box-retangle {
    background-color: #f9aa01;
    height: 80%;
    width: 125px;
    transform: skew(-45deg);
    position: relative;
    left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-box-retangle h5 {
    transform: skew(45deg);
    text-align: center;
  }
  
  /* ------------------------------------------------------ */
  /* SECTION INFO --------- ------------------------------- */
  /* ------------------------------------------------------ */
  
  .info {
    background-color: #f9aa01;
    height: 1366px;
  }
  
  .info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-title-div h3 {
    color: black;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 80px;
  }
  
  .info-title-div hr {
    margin-top: 30px;
    border: black 1px solid;
    width: 50%;
  }
  
  .info-box {
    margin-top: 100px;
    position: relative;
  }
  
  .info-box img {
    width: 80%;
  }
  
  .info-card-kj {
    bottom: 75px;
    right: 0;
  }
  
  .info-card-kj .container-info-box {
    width: 87.5% !important;
    margin: 25px 0px 20px !important;
    gap: 15px;
  }
  
  .info-card {
    position: absolute;
  
    width: 55%;
    height: fit-content;
    max-width: 360px;
    max-height: 440px;
    /* margin: 20px 0; */
  
    background-image: linear-gradient(
      to right bottom,
      rgba(122, 49, 236, 0.2),
      rgba(47, 7, 109, 0.83)
    );
  
    border: 1px #ffffff4a solid;
    border-radius: 8px;
  
    backdrop-filter: blur(4px);
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    width: 87.5%;
  }
  
  .info-card img {
    width: 45%;
  }
  
  .info-card h4 {
    text-transform: uppercase;
  }
  
  .info-card p {
    text-align: justify;
    margin-bottom: 10px;
  }
  
  .info-card-jinx .container-info-box {
    width: 80% !important;
    margin: 15px 0px 10px !important;
    gap: 15px;
  }
  
  .info-card-jinx {
    /* height: 62.5% !important; */
  
    position: absolute;
    bottom: -15px;
    left: 0;
  }
  
  .info-box-jinx {
    display: flex;
    justify-content: flex-end;
  }
  
  /* ------------------------------------------------------ */
  /* SECTION NOTÍCIAS ------------------------------------- */
  /* ------------------------------------------------------ */
  
  .news {
    height: 4096px;
    background-image: url(../assets/images/global/backgrund_notícias.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .news-title-div hr {
    margin-top: 30px;
    border: #f9aa01 1px solid;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .news-title-div h3 {
    padding-top: 55px;
  }
  
  .news-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .layout-news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  
  .news-article-box {
    width: 100%;
    max-height: fit-content;
    background: linear-gradient(
      to right bottom,
      rgba(37, 26, 52, 0.34),
      rgba(5, 1, 12, 0.79)
    );
    backdrop-filter: blur(4px);
    border: 1px #ffffff4f solid;
    border-radius: 8px;
  }
  
  .news-text-box {
    margin: 20px 30px 30px;
  }
  
  .news-article-box img {
    width: 100%;
  }
  
  .news-article-box h2 {
    color: white;
  }
  
  .news-article-box p {
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
  }
  
  @media screen and (min-width: 1200px) {
    .banner {
        border-top: none;
        width: 100%;
        background-image: url(../assets/images/desktop/banner.png);
      }
    
      .banner h1 {
        font-size: 80px;
        margin-top: 20px;
      }
    
      .banner button {
        width: 200px;
      }
    
      .banner button h2 {
        font-size: 24px;
      }
    
      .most-popular {
        height: 490px;
      }
    
      .game-card {
        max-width: 556px;
      }
    
      .card-box {
        height: 80px;
      }
    
      .card-box-retangle {
        width: 175px;
        left: 85px;
      }
    
      .card-box-retangle h5 {
        font-size: 20px;
      }
    
      .layout-mostpopular {
        flex-direction: row;
        justify-content: space-between;
      }
    
      .info {
        max-height: 1000px;
      }
    
      .info-title-div h3 {
        font-size: 40px;
        letter-spacing: 8px;
      }
    
      .info-title-div hr {
        width: 17.5%;
      }
    
      .info-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
    
      .info-card {
        width: 360px;
        height: 440px;
      }
    
      .info-card img {
        width: 55%;
      }
    
      .info-card h4 {
        font-size: 25px;
      }
    
      .info-card p {
        font-size: 16px;
      }
    
      .info-card-kj p {
        margin-bottom: 45px;
      }
    
      .info-card-jinx {
        bottom: 75px;
      }
    
      .info-layout {
        justify-content: space-between;
      }
    
      .info-box {
        margin-top: 35px;
        width: 49%;
      }
    
      .info-box > img {
        max-width: 100%;
        max-height: 690px !important;
        object-fit: contain;
      }
    
      .news {
        height: 1224px;
        background-size: cover;
        background-position-y: bottom;
      }
    
      .news-title-div h3 {
        margin-top: 30px;
        font-size: 40px;
      }
    
      .news-title-div hr {
        width: 20%;
        margin-bottom: 20px;
      }
    
      .layout-news {
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
      }
    
      .news-article-box {
        margin-bottom: 60px;
        width: 285px;
        height: 387px;
      }
    
  }